body{
    font-family: 'Montserrat', sans-serif;
}
.main{
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 55px;

    color: #000;
}
.text{
    font-style: normal;
    font-weight: normal;
    font-size: 45px;
    line-height: 55px;
    color: #000;
}
.main-text{
    
}